@font-face
{
    font-family: Shrikhand;
    src: url('police/Shrikhand-Regular.ttf');
    font-family: roboto;
    src: url('police/Roboto-Regular.ttf');
    
}
*
{
    padding : 0;
    margin : 0;
    font-family: roboto;
}

a:link
{ 
    text-decoration:none; 
    color: white;
} 

.logo_accueil
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0 10px 0;
    margin-bottom: 2px;
    box-shadow: 0px -10px 25px black;
}

.logo_accueil p 
{
    font-family: shrikhand;
    font-size: 2em;
}

.img_menu1
{
    height: 200px;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.conteneur_menu
{
    background-color: #F2F3F4;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: -20px;
    position: relative;
    transform: scale(1);
    transform-origin: center center;
}


.titre_menu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.titre_menu p
{
    font-family: shrikhand;
    font-size: 1.8em;
}

.description
{
    font-size: 0.9em;
}

.fa-heart
{
    font-size: 25px;
}

.liste_menu
{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
}

.choix_entree 
{
    border-bottom: 3px solid #99E2D0;
    width: 11%;
}

.choix
{
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    animation: fadein 1s;
    display: flex;
    justify-content: space-between;
}

.choix2
{
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    animation: fadein 2s;
    display: flex;
    justify-content: space-between;
}

.choix3
{
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    animation: fadein 3s;
    display: flex;
    justify-content: space-between;
}

.choix4
{
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    animation: fadein 3s;
    display: flex;
    justify-content: space-between;
}

@keyframes fadein
{
    from
    {
        opacity: 0; margin-bottom: 30px;
    }
    to 
    {
        opacity: 1;
    }
}

.blanc
{
    background-color: white;
    width: 100%;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px
}

.blanc div
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.titre_choix
{
    font-weight: bold;
    padding-bottom: 2px;
}
.vert
{
    background-color: #99E2D0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
}

.cercle
{
    color: white;
    width: 0;
    opacity: 0;
}

.choix:hover .cercle
{
    animation-name: animation_circle;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.choix2:hover .cercle
{
    animation-name: animation_circle;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.choix3:hover .cercle
{
    animation-name: animation_circle;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.choix:hover .prix 
{
    border-radius: 0;
}

.choix2:hover .prix 
{
    border-radius: 0;
}

.choix3:hover .prix 
{
    border-radius: 0;
}

@keyframes animation_circle
{
    from
    {
        transform: rotate(0deg); 
        width: 0;
        opacity: 0;
        
    }
    to
    {
        transform: rotate(360deg); 
        width: 50px;
        opacity: 1;
    }
}

.prix
{
    display: flex;
    align-items: flex-end;
    padding: 10px;
    background-color: white;
    font-weight: bold;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.commander_menu
{
    background-color: #F2F3F4;
    display: flex;
    justify-content: center;
    text-align: center;
}

.commander_menu p 
{
    background: linear-gradient(#FF79DA,#9356DC);
    color: white;
    padding: 10px;
    width: 50%;
    border-radius: 25px;
    margin-bottom: 50px;
}

footer
{
    color: white;
    background-color: #424949;
    padding: 20px;
    line-height: 2em;
}

footer p 
{
    font-family:Shrikhand;
}

ul 
{
    list-style-type: none;
}

.icone_restaurant
{
    display: flex;
    justify-content: space-between;
}

.liste_footer
{
    display:flex
}

.fa-utensils
{
    padding-right: 10px;
}

.fa-hands-helping
{
    padding-right: 3px;
}

@media (min-width:1024px)
{
    .img_menu1
    {
        height: 500px;
    }
    .titre_menu
    {
        justify-content: center;
    }
    .fa-heart
    {
        padding-left: 20px;
    }
    .liste_carte
    {
        display: flex;
        justify-content: center;
    }
    .commander_menu p   
    {
        width: 25%;
    }
    footer p 
    {
        display: flex;
        justify-content: center;
    }
    
    ul 
    {
        display: flex;
        flex-direction: column;
        align-items: center
    }
}